.category-text {
  color: $link;
  @include font(700, 16, 1.6);
}
.active-btn-span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  background-color: Red;
  @include font(700, 10, 1.8);
  padding: 10px;
}
.active-btn {
  display: flex;
  border: none;
  background: inherit;
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
  span {
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(40%, -10%);
  }
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.categories-list-link{
    display: flex;
    color: #202020;
    @include font(400, 16, 1.5);
    transition: all 0.5s ease-in-out;
    padding-bottom: 2px;
    padding-top: 8px;
    &:hover{
        border-bottom: 1px solid #131464;
    }
}


.card-like-btn {
  position: absolute;
  background: none;
  top: -25px;
  right: 0;
  border: none;
  outline: none;
  width: 26px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-5px);
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  // &:hover {
  //   svg {
  //     path {
  //       fill: #c2c6d1;
  //     }
  //   }
  // }
  &:active {
    svg {
      path {
        fill: #ff2929;
        stroke: #ff2020;
      }
    }
  }
}
.like-active{
  svg {
    path {
      fill: #ff2929;
      stroke: #ff2020;
    }
  }
}
.c-lr-padding {
  padding-right: 10px;
  padding-left: 10px;
}
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 5px;

  border: none;
  outline: none;
  background: inherit;
  order: 2;
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    path {
    transition: all 0.3s ease;
    }
  }
  &:hover {
    svg {
      path {
        fill: #4f46e5;
      }
    }
  }
}

.active-cart {
svg {
  path {
    fill: #4f46e5;
  }
}}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;

  width: 20px;
  height: 20px;
  color: #000;
  @include font(700, 25, 1.2);
  &:active{
    opacity: 0.8;
    transform: scale(1.2);
  }
}
.card-add-more{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0 15px;
  
}

.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: capitalize;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

// cart count
.product-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  padding: 9px;
  background: #f2f2f2;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  span {
    display: flex;
    color: #000;
    @include font(700, 18, 1.2);
  }
}
.like-active-btn{
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}